/* .vitepress/theme/custom.css */

/*
.VPHero .image {
  max-width: 600px;
  max-height: 600px;
}
*/

@media(min-width: 640px){
  img.VPImage.image-src{
    max-width: 500px;
    max-height: 500px;
  }
}

@media(min-width: 640px){
  .image-bg[data-v-72cc4481]{
    width: 700px;
    height: 300px;
  }
}
