[Unit]
Description=Xorg
After=multi-user.targert
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/lib/xorg/Xorg -noreset :0

[Install]
WantedBy=graphical.target
